<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Contact us">
    <title>Contact us</title>
    <link rel="icon" href="html12.png">
    <link rel="stylesheet" href="try5.css">
</head>

<body>

    <header>
        <div style="display: flex; align-items: center;">
            <img src="html13.png" alt="Logo" style="height: 40px;">
            <h1 style="position: absolute;left: 50%; transform: translateX(-50%); margin: 0; font-size: x-large;">
                All India Institute of Medical Science
            </h1>
        </div>
    </header>

    <nav>
        <a href="try5.html">🏠Home</a>
        <a href="Book Appointment.html">🎯Book Appointment</a>
        <a href="Doctors.html">🧑‍⚕️Doctors</a>
        <a href="#">⏳Services</a>
        <a class="active" href="#">👮Contact</a>
    </nav>

    <div class="container l">

        <hr>

        <h1 style="text-align: center;">Contact Us</h1>

        <p style="text-align: center;">Here I am Gonna Review the food Myself ,,, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;That will Help You to know the taste of <b>Every Food</b>
        </p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At ut nulla ad dolorem sit explicabo dolores
            mollitia,
            ratione dolorum culpa, autem similique accusantium molestias rerum quaerat eos quia vero soluta.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque in labore placeat, dolorem cum
            rem laborum sint dolores libero necessitatibus debitis natus ipsam illo id, vitae culpa quibusdam obcaecati?
        </p>

        <footer style="text-align: left;">
            <ul>
                <li>
                    <b>Download to know about </b> <a href="oops1.pdf" Download> AIIMS</a>
                </li>

                <li>
                    <b>Contact us at</b> <a href="mailto:aimuqtadir0001@gmail.com">aimuqtadir0001@gmail.com</a>.
                </li>

                <li>
                    <b>Call us at </b> <a href="tel:+919767851150">+919767851150</a>.
                </li>

                <li>
                    <b>Open</b> <a href="https//:google.com" target="_blank">Google</a> <b>in new Tab.</b>
                </li>
                <b>
                    <li>
                        <address>Near G H Raisoni College of Engineering and Management, <br> Pune Maharashtra</address>
                    </li>
                </b>

            </ul>
        </footer>
    </div>


    <footer>
        Contact: info@aiims.example | Phone: +91 12345 67890<br>
        © 2024 All India Institute of Medical Science
    </footer>

</body>

</html>